@import url(./css/layout.css);
@import url(./css/components.css);
@import url(./css/modal.css);
@import url(./css/font.css);
@import url(./css/header.css);

.counter {
    /* border: 10px solid red; */
    /* width: 50%;
    height: 100%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    /* z-index: -1; */
    text-align: center;
}

.counter > p {
    font-size: 100px;
    letter-spacing: 10px;
    margin-bottom: 50px;
    padding: 20px 30px;
    border-radius: 10px;
    background-color: black;
    color: white;
    box-shadow: 0 0 4px rgba(249, 246, 246, 0.537);
    transition: 1s;
}

.counter > p:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/* .btn-start, btn-stop {
    z-index: 1;
} */