body {
  /* display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0; */
  font-family: "Open-Sans", sans-serif;
  width: 100%;
  max-width: 1690px;
}

#root {
  width: 100%;
}

h1 {
  /* position: relative;
  top: 0;
  left: 0; */
  color: black;
  font-weight: bold;
  background-color: #ffde59;
  padding: 10px;
  font-size: 3.2em;
  line-height: 1.1;
  display: inline-block;
  margin-top: 0;
}
