.card {
  width: 100%;
  max-width: 600px;
  height: 350px;
  background-color: var(--Dark-Grayish-Blue);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  position: relative;
}

.title {
  color: var(--Neon-Green);
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.advice {
  color: var(--Light-Cyan);
  text-align: center;
  font-size: 2rem;
  padding: 30px;
}

.img {
  width: 100%;
  max-width: 600px;
  /* height: auto; */
}

.btn {
  width: 60px;
  height: 60px;
  background-color: var(--Neon-Green);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  /* bottom: 250px; */
  bottom: -30px;
  right: 50%;
  transform: translateX(50%);
  cursor: pointer;
}

@media (max-width: 768px) {
  .card {
    padding: 10px;
  }

  .title {
    font-size: 1.2rem;
  }

  .advice {
    font-size: 1.2rem;
    padding: 10px;
  }

  .btn {
    width: 50px;
    height: 50px;
    bottom: -20px;
  }
}
