@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap");

:root {
  /* main colors */
  --lilla: #b5a2d3;
  --purple: #221635;
  --white: #fff;

  /* cta colors */
  --cta-color: linear-gradient(
    to right,
    rgba(230, 242, 253, 1) 0%,
    rgba(255, 239, 181, 1) 38%,
    rgba(228, 155, 155, 1) 75%,
    rgba(187, 172, 211, 1) 100%
  );
}

/* default */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* layout */
body {
  font-family: "Syne", sans-serif;
  color: var(--white);
  /* background-color: var(--lilla); */
  min-width: 1440px;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* background animation */
body {
  background: url(./assets/bg_animation.gif);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
