body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.card {
  background-color: #f00909;
  color: #fff;
  border: 10px solid #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px #0000001a;
  padding: 16px;
  margin: 16px;
  max-width: 300px;
  text-align: center;
}
